In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import timedelta

# path to your file
file_path =r"C:\Users\preet\Downloads\ecommerce_clickstream_8000rows_final.csv"

## Load the data & initial inspection

In [27]:

df = pd.read_csv(file_path, low_memory=False)

In [28]:
print("Shape:", df.shape)

Shape: (8000, 21)

In [29]:
display(df.head(10))    # first 10 rows

,session_id,user_id,event_time,event_type,product_id,category,price,discount_percent,discounted_price,quantity,...,profit,payment_method,shipping_type,delivery_days,rating,review,device_type,traffic_source,country,status
0,S12177,U0963,2025-11-08 14:07:00,view,P0098,beauty,4556.141777,36,2813.23,3,...,1338.970769,UPI,Express,7,5,Poor,Tablet,social,Canada,Interested
1,S14951,U0027,2025-11-07 05:03:40,view,P0073,electronics,3559.830726,22,2678.87,2,...,1222.895335,Net Banking,Standard,1,4,Average,Mobile,paid,India,Interested
2,S13505,U0999,2025-11-05 11:53:56,view,P0173,beauty,805.977311,47,412.12,2,...,235.184805,Debit Card,Standard,2,2,Fast Delivery,Mobile,email,India,Interested
3,S12955,U0234,2025-11-06 00:40:49,view,P0053,sports,4942.820999,47,2527.43,1,...,325.805013,UPI,Standard,3,1,Product not as expected,Desktop,email,UK,Browsing
4,S10343,U0742,2025-11-05 00:09:50,checkout,P0122,sports,1883.913271,8,1672.16,3,...,1383.176719,Credit Card,Standard,4,4,Fast Delivery,Mobile,email,USA,Payment Pending
5,S13409,U0838,2025-11-07 22:56:11,add_to_cart,P0182,beauty,2210.682400,20,1706.26,1,...,329.773999,Net Banking,Express,4,4,Good,Desktop,email,Germany,Added to Cart
6,S9448,U0234,2025-11-06 00:40:49,view,P0053,sports,4942.820999,47,2527.43,1,...,325.805013,UPI,Standard,3,1,Product not as expected,Desktop,email,UK,Browsing
7,S10900,U0652,2025-11-03 00:59:22,add_to_cart,P0178,fashion,3204.360724,48,1607.58,1,...,328.331636,Credit Card,Express,2,3,Excellent,Desktop,paid,USA,Wishlist
8,S9574,U0468,2025-11-07 21:44:38,view,P0200,sports,2748.650151,29,1882.81,2,...,986.228377,Net Banking,Standard,1,2,Fast Delivery,Mobile,social,India,Interested
9,S10506,U0963,2025-11-08 14:07:00,view,P0098,beauty,4556.141777,36,2813.23,3,...,1338.970769,UPI,Express,7,5,Poor,Tablet,social,Canada,Interested

In [30]:
display(df.columns.tolist())

['session_id',
 'user_id',
 'event_time',
 'event_type',
 'product_id',
 'category',
 'price',
 'discount_percent',
 'discounted_price',
 'quantity',
 'total_sale',
 'profit',
 'payment_method',
 'shipping_type',
 'delivery_days',
 'rating',
 'review',
 'device_type',
 'traffic_source',
 'country',
 'status']

In [31]:
display(df.info())      # types & non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   session_id        8000 non-null   object
 1   user_id           8000 non-null   object
 2   event_time        8000 non-null   object
 3   event_type        8000 non-null   object
 4   product_id        8000 non-null   object
 5   category          8000 non-null   object
 6   price             8000 non-null   float64
 7   discount_percent  8000 non-null   int64
 8   discounted_price  8000 non-null   float64
 9   quantity          8000 non-null   int64
 10  total_sale        8000 non-null   float64
 11  profit            8000 non-null   float64
 12  payment_method    8000 non-null   object
 13  shipping_type     8000 non-null   object
 14  delivery_days     8000 non-null   int64
 15  rating            8000 non-null   int64
 16  review            8000 non-null   object
 17  device_type       8000 non-null   object
 18  traffic_source    8000 non-null   object
 19  country           8000 non-null   object
 20  status            8000 non-null   object
dtypes: float64(4), int64(4), object(13)
memory usage: 1.3+ MB

None

In [32]:
display(df.describe(include='all').T)   # summary

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
session_id,8000,5116,S12898,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_id,8000,19,U0963,831,NaN,NaN,NaN,NaN,NaN,NaN,NaN
event_time,8000,20,2025-11-08 02:46:10,429,NaN,NaN,NaN,NaN,NaN,NaN,NaN
event_type,8000,4,view,4852,NaN,NaN,NaN,NaN,NaN,NaN,NaN
product_id,8000,18,P0073,797,NaN,NaN,NaN,NaN,NaN,NaN,NaN
category,8000,5,sports,2320,NaN,NaN,NaN,NaN,NaN,NaN,NaN
price,8000.0,NaN,NaN,NaN,2749.326753,1430.998563,165.21,1883.913271,2270.395556,3686.585141,4942.820999
discount_percent,8000.0,NaN,NaN,NaN,27.197625,13.361451,4.0,15.0,22.0,36.0,48.0
discounted_price,8000.0,NaN,NaN,NaN,1858.482045,943.056107,133.82,1446.05,1672.16,2527.43,4091.64
quantity,8000.0,NaN,NaN,NaN,1.85675,0.724255,1.0,1.0,2.0,2.0,3.0
total_sale,8000.0,NaN,NaN,NaN,5058.515024,3758.139211,267.64,2210.6824,4017.97709,6813.933411,14794.227176
profit,8000.0,NaN,NaN,NaN,748.036856,682.750309,37.163238,257.914462,478.715423,1222.895335,3069.01
payment_method,8000,5,Net Banking,2386,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shipping_type,8000,2,Standard,5129,NaN,NaN,NaN,NaN,NaN,NaN,NaN
delivery_days,8000.0,NaN,NaN,NaN,4.182,2.068915,1.0,2.0,4.0,6.0,7.0
rating,8000.0,NaN,NaN,NaN,3.00325,1.345907,1.0,2.0,3.0,4.0,5.0
review,8000,7,Good,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
device_type,8000,3,Desktop,2819,NaN,NaN,NaN,NaN,NaN,NaN,NaN
traffic_source,8000,4,paid,2842,NaN,NaN,NaN,NaN,NaN,NaN,NaN
country,8000,5,UK,2386,NaN,NaN,NaN,NaN,NaN,NaN,NaN
status,8000,7,Browsing,2445,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Standardize column names (clean & consistent)

In [33]:
df.columns = (
    df.columns.str.strip()
              .str.lower()
              .str.replace(' ', '_')
              .str.replace('-', '_')
              .str.replace(r'[^0-9a-zA-Z_]', '', regex=True)
)
print(df.columns.tolist())

['session_id', 'user_id', 'event_time', 'event_type', 'product_id', 'category', 'price', 'discount_percent', 'discounted_price', 'quantity', 'total_sale', 'profit', 'payment_method', 'shipping_type', 'delivery_days', 'rating', 'review', 'device_type', 'traffic_source', 'country', 'status']

## Quick value-check of key columns

In [24]:
df['payment_method'] = df['payment_method'].str.title()

In [34]:
# peek at unique values for categorical-like columns
for c in ['event_type','category','payment_method','shipping_type','device_type','traffic_source','country','status']:
    if c in df.columns:
        print(f"\n== {c} ({df[c].nunique()} unique) ==")
        print(df[c].value_counts(dropna=False).head(10))

== event_type (4 unique) ==
event_type
view           4852
add_to_cart    1977
checkout        775
purchase        396
Name: count, dtype: int64

== category (5 unique) ==
category
sports         2320
electronics    1667
beauty         1610
fashion        1205
home           1198
Name: count, dtype: int64

== payment_method (5 unique) ==
payment_method
Net Banking         2386
UPI                 1632
Credit Card         1622
Debit Card          1595
Cash on Delivery     765
Name: count, dtype: int64

== shipping_type (2 unique) ==
shipping_type
Standard    5129
Express     2871
Name: count, dtype: int64

== device_type (3 unique) ==
device_type
Desktop    2819
Mobile     2771
Tablet     2410
Name: count, dtype: int64

== traffic_source (4 unique) ==
traffic_source
paid       2842
email      2398
organic    1577
social     1183
Name: count, dtype: int64

== country (5 unique) ==
country
UK         2386
India      2002
Germany    1591
USA        1209
Canada      812
Name: count, dtype: int64

== status (7 unique) ==
status
Browsing              2445
Interested            2407
Wishlist              1198
Added to Cart          779
Payment Pending        406
Packed                 396
Checkout Initiated     369
Name: count, dtype: int64

## Missing values diagnostics

In [35]:
missing = df.isna().sum().sort_values(ascending=False)
missing_pct = (missing / len(df) * 100).round(2)
missing_df = pd.concat([missing, missing_pct], axis=1)
missing_df.columns = ['missing_count', 'missing_pct']
display(missing_df[missing_df['missing_count'] > 0])

Empty DataFrame
Columns: [missing_count, missing_pct]
Index: []

## Deduplicate exact duplicate rows

In [37]:
print("Exact duplicate rows:", df.duplicated().sum())
df = df.drop_duplicates().reset_index(drop=True)
print("Shape after dropping duplicates:", df.shape)

Exact duplicate rows: 192
Shape after dropping duplicates: (7808, 21)

## Parse event_time to datetime (format shown in sample: dd-mm-YYYY HH:MM)

In [40]:
print("Sample event_time values:")
display(df['event_time'].head(5))
df['event_time'] = pd.to_datetime(df['event_time'], errors='coerce', infer_datetime_format=True)
print(df['event_time'].dtype)

Sample event_time values:

0   2025-11-08 14:07:00
1   2025-11-07 05:03:40
2   2025-11-05 11:53:56
3   2025-11-06 00:40:49
4   2025-11-05 00:09:50
Name: event_time, dtype: datetime64[ns]

datetime64[ns]

C:\Users\Public\Documents\iSkysoft\CreatorTemp\ipykernel_10112\765750267.py:3: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['event_time'] = pd.to_datetime(df['event_time'], errors='coerce', infer_datetime_format=True)

In [41]:
df['date'] = df['event_time'].dt.date
df['hour'] = df['event_time'].dt.hour
df['day_of_week'] = df['event_time'].dt.day_name()
df['month'] = df['event_time'].dt.month_name()

## Convert numeric columns to numeric dtype

In [42]:
# list numeric-like columns based on your sample
num_cols = ['price','discount_percent','discounted_price','quantity','total_sale','profit','delivery_days','rating']

# convert safely to numeric
for c in num_cols:
    if c in df.columns:
        df[c] = pd.to_numeric(df[c], errors='coerce')

# Check numeric summaries
display(df[num_cols].describe().T)

,count,mean,std,min,25%,50%,75%,max
price,7808.0,2751.456835,1432.576779,165.210000,1883.913271,2270.395556,3686.585141,4942.820999
discount_percent,7808.0,27.193391,13.346579,4.000000,15.000000,22.000000,36.000000,48.000000
discounted_price,7808.0,1860.166826,945.003419,133.820000,1446.050000,1672.160000,2567.690000,4091.640000
quantity,7808.0,1.858863,0.724727,1.000000,1.000000,2.000000,2.000000,3.000000
total_sale,7808.0,5070.556435,3769.109756,267.640000,2210.682400,4017.977090,6813.933411,14794.227176
profit,7808.0,749.993021,684.653506,37.163238,257.914462,478.715423,1222.895335,3069.010000
delivery_days,7808.0,4.187884,2.070469,1.000000,2.000000,4.000000,6.000000,7.000000
rating,7808.0,3.004611,1.345513,1.000000,2.000000,3.000000,4.000000,5.000000

In [54]:
cat_cols = ['event_type','category','payment_method','shipping_type','review','device_type','traffic_source','country','status']

for c in cat_cols:
    if c in df.columns:
        df[c] = df[c].astype('str').str.strip().str.lower().replace({'nan': np.nan})
        
# Show cleaned uniques
for c in cat_cols:
    if c in df.columns:
        print(f"\n== {c} uniques ==")
        print(df[c].value_counts(dropna=False).head(15))

== event_type uniques ==
event_type
view           4738
add_to_cart    1924
checkout        759
purchase        387
Name: count, dtype: int64

== category uniques ==
category
sports         2260
electronics    1625
beauty         1571
fashion        1180
home           1172
Name: count, dtype: int64

== payment_method uniques ==
payment_method
net banking         2338
upi                 1592
credit card         1575
debit card          1554
cash on delivery     749
Name: count, dtype: int64

== shipping_type uniques ==
shipping_type
standard    5005
express     2803
Name: count, dtype: int64

== review uniques ==
review
good                       1955
excellent                  1173
poor                       1167
value for money            1162
fast delivery              1150
product not as expected     791
average                     410
Name: count, dtype: int64

== device_type uniques ==
device_type
desktop    2745
mobile     2708
tablet     2355
Name: count, dtype: int64

== traffic_source uniques ==
traffic_source
paid       2779
email      2327
organic    1545
social     1157
Name: count, dtype: int64

== country uniques ==
country
uk         2325
india      1946
germany    1553
usa        1182
canada      802
Name: count, dtype: int64

== status uniques ==
status
browsing              2380
interested            2358
wishlist              1173
added to cart          751
payment pending        396
packed                 387
checkout initiated     363
Name: count, dtype: int64

In [ ]:
## Validate numeric relationships and repair obvious inconsistencies

In [45]:
'''#  If total_sale should equal quantity * discounted_price (or price * quantity), check mismatches
if all(col in df.columns for col in ['quantity','discounted_price','total_sale']):
    df['calc_total_from_discounted'] = df['quantity'] * df['discounted_price']
    df['total_diff'] = (df['total_sale'] - df['calc_total_from_discounted']).abs()
    # Show large mismatches
    mismatches = df[df['total_diff'] > 1e-3]    # tolerance: adjust if rounding differences expected
    print("Rows where total_sale != quantity * discounted_price (show first 10):", len(mismatches))
    display(mismatches.head(10))
    # Option: correct total_sale where mismatch and discounted_price exists:
    # df.loc[df['total_diff'] > 1e-3, 'total_sale'] = df['calc_total_from_discounted']

#If discounted_price should be price * (1 - discount_percent/100)
if all(col in df.columns for col in ['price','discount_percent','discounted_price']):
    df['calc_discounted_price'] = (df['price'] * (1 - df['discount_percent']/100)).round(2)
    df['disc_price_diff'] = (df['discounted_price'] - df['calc_discounted_price']).abs()
    print("Rows with large discrepancy in discounted_price (first 10):", (df['disc_price_diff'] > 1e-2).sum())
    display(df[df['disc_price_diff'] > 1e-2].head(10))
    # Option: fix discounted_price using calc if you trust discount_percent:
    # df.loc[df['disc_price_diff'] > 1e-2, 'discounted_price'] = df['calc_discounted_price']
'''

Rows where total_sale != quantity * discounted_price (show first 10): 7788

,session_id,user_id,event_time,event_type,product_id,category,price,discount_percent,discounted_price,quantity,...,device_type,traffic_source,country,status,date,hour,day_of_week,month,calc_total_from_discounted,total_diff
0,S12177,U0963,2025-11-08 14:07:00,view,P0098,beauty,4556.141777,36,2813.23,3,...,tablet,social,canada,interested,2025-11-08,14,Saturday,November,8439.69,5228.735332
1,S14951,U0027,2025-11-07 05:03:40,view,P0073,electronics,3559.830726,22,2678.87,2,...,mobile,paid,india,interested,2025-11-07,5,Friday,November,5357.74,1761.921452
2,S13505,U0999,2025-11-05 11:53:56,view,P0173,beauty,805.977311,47,412.12,2,...,mobile,email,india,interested,2025-11-05,11,Wednesday,November,824.24,787.714621
3,S12955,U0234,2025-11-06 00:40:49,view,P0053,sports,4942.820999,47,2527.43,1,...,desktop,email,uk,browsing,2025-11-06,0,Thursday,November,2527.43,2415.390999
4,S10343,U0742,2025-11-05 00:09:50,checkout,P0122,sports,1883.913271,8,1672.16,3,...,mobile,email,usa,payment pending,2025-11-05,0,Wednesday,November,5016.48,635.259814
5,S13409,U0838,2025-11-07 22:56:11,add_to_cart,P0182,beauty,2210.682400,20,1706.26,1,...,desktop,email,germany,added to cart,2025-11-07,22,Friday,November,1706.26,504.422400
6,S9448,U0234,2025-11-06 00:40:49,view,P0053,sports,4942.820999,47,2527.43,1,...,desktop,email,uk,browsing,2025-11-06,0,Thursday,November,2527.43,2415.390999
7,S10900,U0652,2025-11-03 00:59:22,add_to_cart,P0178,fashion,3204.360724,48,1607.58,1,...,desktop,paid,usa,wishlist,2025-11-03,0,Monday,November,1607.58,1596.780724
8,S9574,U0468,2025-11-07 21:44:38,view,P0200,sports,2748.650151,29,1882.81,2,...,mobile,social,india,interested,2025-11-07,21,Friday,November,3765.62,1731.680303
9,S10506,U0963,2025-11-08 14:07:00,view,P0098,beauty,4556.141777,36,2813.23,3,...,tablet,social,canada,interested,2025-11-08,14,Saturday,November,8439.69,5228.735332

Rows with large discrepancy in discounted_price (first 10): 7788

,session_id,user_id,event_time,event_type,product_id,category,price,discount_percent,discounted_price,quantity,...,country,status,date,hour,day_of_week,month,calc_total_from_discounted,total_diff,calc_discounted_price,disc_price_diff
0,S12177,U0963,2025-11-08 14:07:00,view,P0098,beauty,4556.141777,36,2813.23,3,...,canada,interested,2025-11-08,14,Saturday,November,8439.69,5228.735332,2915.93,102.70
1,S14951,U0027,2025-11-07 05:03:40,view,P0073,electronics,3559.830726,22,2678.87,2,...,india,interested,2025-11-07,5,Friday,November,5357.74,1761.921452,2776.67,97.80
2,S13505,U0999,2025-11-05 11:53:56,view,P0173,beauty,805.977311,47,412.12,2,...,india,interested,2025-11-05,11,Wednesday,November,824.24,787.714621,427.17,15.05
3,S12955,U0234,2025-11-06 00:40:49,view,P0053,sports,4942.820999,47,2527.43,1,...,uk,browsing,2025-11-06,0,Thursday,November,2527.43,2415.390999,2619.70,92.27
4,S10343,U0742,2025-11-05 00:09:50,checkout,P0122,sports,1883.913271,8,1672.16,3,...,usa,payment pending,2025-11-05,0,Wednesday,November,5016.48,635.259814,1733.20,61.04
5,S13409,U0838,2025-11-07 22:56:11,add_to_cart,P0182,beauty,2210.682400,20,1706.26,1,...,germany,added to cart,2025-11-07,22,Friday,November,1706.26,504.422400,1768.55,62.29
6,S9448,U0234,2025-11-06 00:40:49,view,P0053,sports,4942.820999,47,2527.43,1,...,uk,browsing,2025-11-06,0,Thursday,November,2527.43,2415.390999,2619.70,92.27
7,S10900,U0652,2025-11-03 00:59:22,add_to_cart,P0178,fashion,3204.360724,48,1607.58,1,...,usa,wishlist,2025-11-03,0,Monday,November,1607.58,1596.780724,1666.27,58.69
8,S9574,U0468,2025-11-07 21:44:38,view,P0200,sports,2748.650151,29,1882.81,2,...,india,interested,2025-11-07,21,Friday,November,3765.62,1731.680303,1951.54,68.73
9,S10506,U0963,2025-11-08 14:07:00,view,P0098,beauty,4556.141777,36,2813.23,3,...,canada,interested,2025-11-08,14,Saturday,November,8439.69,5228.735332,2915.93,102.70

In [46]:
'''print("âš™ï¸ Data consistency summary:")
print(f"Total rows: {len(df)}")
print(f"Rows with inconsistent total_sale: {(df['total_diff'] > 1e-3).sum()}")
print(f"Rows with inconsistent discounted_price: {(df['disc_price_diff'] > 1e-2).sum()}")

if ((df['total_diff'] > 1e-3).sum() / len(df)) > 0.9:
    print("ðŸ”¸ Note: This dataset likely uses synthetic or non-derived numeric fields.")
    print("ðŸ”¸ Proceed with behavioral EDA (funnels, traffic sources, devices) instead of focusing on price calculations.")
'''

âš™ï¸ Data consistency summary:
Total rows: 7808
Rows with inconsistent total_sale: 7788
Rows with inconsistent discounted_price: 7788
ðŸ”¸ Note: This dataset likely uses synthetic or non-derived numeric fields.
ðŸ”¸ Proceed with behavioral EDA (funnels, traffic sources, devices) instead of focusing on price calculations.

In [47]:
# Define output file path (you can change folder name as needed)
output_path = r"C:\Users\preet\Downloads\ecommerce_clickstream_cleaned.xlsx"

# Option 1: Save main cleaned data
df.to_excel(output_path, index=False)

In [50]:
# Drop helper columns before saving
df_cleaned = df.drop(columns=[
    'calc_total_from_discounted',
    'total_diff',
    'calc_discounted_price',
    'disc_price_diff'
], errors='ignore')

# Save cleaned data
output_path = r"C:\Users\preet\Downloads\ecommerce_clickstream_cleaned.xlsx"
df_cleaned.to_excel(output_path, index=False)

print("âœ… Final cleaned dataset saved without helper columns.")
print("Final shape:", df_cleaned.shape)

âœ… Final cleaned dataset saved without helper columns.
Final shape: (7808, 25)